.container .row-fluid .page-header p{
    font-size: 18px;
}
#contact {
    height: 75%;
}
.container #cookie {
    width: 100%;
    height: 20%;
    background-color: lightblue;
}
.span7{
    padding-left: 30px;
}
.cookie-notice-container{
    display: block;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 20px;
    background-color: lightblue;
    text-align: center;
    width: 100%;
}
